*.o
*.lex.cpp
.*.swp
*.gcov

unittest

coverage/
debug/
release/
profile/
report/
vera/
makedependency/

makefile_tmp
Makefile.extra
Makefile.config

aclocal.m4
autom4te.cache/

config.log
config.status

libtool
stamp-*

config.h
*Config.h
