[submodule "docSource/themes/documentation"]
	path = docSource/themes/documentation
	url = ../../Loki-Astari/andvari-theme-documentation.git
[submodule ".build"]
	path = build
	url = ../../Loki-Astari/ThorMaker.git
[submodule "third/ThorsStorage"]
	path = third/ThorsStorage
	url = ../../Loki-Astari/ThorsStorage.git
[submodule "third/ThorsCrypto"]
	path = third/ThorsCrypto
	url = ../../Loki-Astari/ThorsCrypto.git
[submodule "third/ThorsSocket"]
	path = third/ThorsSocket
	url = ../../Loki-Astari/ThorsSocket.git
[submodule "third/ThorsLogging"]
	path = third/ThorsLogging
	url = ../../Loki-Astari/ThorsLogging.git
[submodule "third/ThorsIOUtil"]
	path = third/ThorsIOUtil
	url = ../../Loki-Astari/ThorsIOUtil.git
[submodule "third/ThorsSerializer"]
	path = third/ThorsSerializer
	url = ../../Loki-Astari/ThorsSerializer
[submodule "third/ThorsMongoAPI"]
	path = third/ThorsMongoAPI
	url = ../../Loki-Astari/ThorsMongoAPI.git
[submodule "third/Nisse"]
	path = third/Nisse
	url = ../../Loki-Astari/Nisse.git
[submodule "third/Mug"]
	path = third/Mug
	url = ../../Loki-Astari/Mug.git
