*.o
*.lex.cpp
*.lex.h
.*.swp
*.gcov

unittest
coverage/
debug/
release/
profile/
report/
makedependency/
vera/
makefile_tmp
Makefile.extra
Makefile.config
localConfigSummary.h

aclocal.m4
autom4te.cache/
config.log
config.status
libtool
stamp-h[0-9]
confdefs.h
config.h

build
